div.timeline_container div.ant-timeline-item-label {
  width: calc(21% - 12px) !important;
}

div.timeline_container div.ant-timeline-item-content {
  left: calc(21% - 4px) !important;
  width: calc(79% - 4px) !important;
}

div.timeline_container div.ant-timeline-item-tail,
div.ant-timeline-item-head {
  left: 21% !important;
}
